<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>List of Students</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <h1>List of Students</h1>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Code</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product, iterStat : ${productList}">
                <td th:text="${iterStat.index+1}"></td>
                <td th:text="${product.productCode}"></td>
                <td th:text="${product.productCategory.getProductCategoryName()}"></td>
                <td><button><a th:href="@{/view/__${product.productId}__}">view</a></button></td>
                <td><button><a th:href="@{/delete/__${product.productId}__}">delete</a></button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button>
            <a th:href="@{/addProduct}">create</a>
        </button>
    </div>
</body>
</html>