.title{
    text-align: center;
}
.navbar{
    width: 100%;
    text-align: center;
    display: flex;
    padding-left: 25%;
    padding-top: 40px;
}
.navbar-item{
    padding-left: 2%;
}
.navbar-item:hover{
    font-size: xx-large;
    border-bottom: 10px solid purple;
    box-sizing: border-box;
}
.list-item{
    /* display: flex; */
    margin-left: -1.5%;
}
.grid-item{
    width: 29%;
    height: 200px;
    background-color: purple;
    float: left;
    margin: 1.5% 2%;
}
.grid-item:hover{
    border: 10px solid black;   
    box-sizing: border-box;
}
.item-content{
    padding: 10% 10%;
    color: azure;
    font-size:40px;
}