.hello {
    text-align: center;
    color: blue;
    background-color: aqua;
    font-size: xx-large;
    margin-top: -7.5px;
    margin-left: -10px;
    margin-right: -10px;
    border: solid 2px black;
}
#hello1{
    text-align: center;
    color: black;
    background-color: aqua;
    font-size: xx-large;
    margin-top: -7.5px;
    margin-left: -10px;
    margin-right: -10px;
    border: solid 2px black;
}